.new-invoice-section form,
.invoice-list table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.new-invoice-section form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.invoice-list table {
  border-collapse: collapse;
  margin-top: 20px;
}

.invoice-list th,
.invoice-list td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

h2 {
  text-align:center;
}

.invoice-list th {
  background-color: #f2f2f2;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 21%;
}
